<!DOCTYPE html>
<html lang="pt-BR" oncontextmenu="return false">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>File Protect</title>
    <!--link rel="icon" href="" type="image/png"-->
    <style>
      form {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: auto 1fr;
        max-width: 500px;
        margin: 0 auto;
      }

      button {
        grid-column: span 2;
      }

      div {
        margin-bottom: 1rem;
        color: red;
      }
    </style>
  </head>
  <body>
    <% if(locals.error) { %>
    <div>
      Senha incorreta!
      <a href="<%= locals.fileLink %>"><%= locals.fileLink %></a>
    </div>
    <% } %>

    <form method="post">
      <label for="password">Senha:</label>
      <input type="password" name="password" id="password" required/>
      <button type="submit">Baixar</button>
    </form>
  </body>
</html>
